.body{
    font-family: sans-serif;
}
.header{
display:flex;
background-color: #1f2937;
justify-content: space-around;
align-items: center;
}
.content_head{
    display:flex;
    background-color: #1f2937;
    justify-content: center;
    gap:80px;
    align-items: center;  
    padding: 100px;
}

.logo{
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.leftlink{
    display:flex;
    font-size: 18px;
    gap:20px;
}

li{
    list-style-type: none;
}

.main-text{
font-size: 48px;
font-weight: bolder;
font-family: sans-serif;
}

.signup{
    background-color: #3882f6;
 margin-top: 20px;  
 border:1px #3882f6;
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 7px;
 padding-bottom: 7px;
 border-radius: 8px;
 font-size: 15px;
 font-weight: bold;

}

.text{
    font-size: 18px;
}

img{
    height: 220px;
    width: 400px;
}

.container2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.offering{
    padding: 40px;
    display: flex;
justify-content: center;
    gap: 80px;
}

.img1{
    border:10px #3882f6 ;
    border-radius: 15px;
    height: 150px;
    width: 200px;
}

.heading{
    font-size: 36px;
    font-weight: bolder;
}

.repair, .consul, .rent, .products{
    border:1px #3882f6 ;
    border-radius: 10px;
}

.p{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}